<h1>New Product</h1>

<!-- <%#= render 'form' %> -->
<%= form_for @product do |f| %>
<br>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :description %>
<%= f.text_field :description %><br>

<%= f.label :qty %>
<%= f.number_field :qty %><br>

<%= f.label :in_stock %>
<%= f.check_box :in_stock %>

<%= f.submit "Add Items 'yall'" %>

<% end %>

<br>

<!-- t.string   "name"
t.string   "description"
t.integer  "qty"
t.boolean  "in_stock" -->


<%= link_to 'Back', products_path %>
